.libraryCont {
  border: 1px soli black;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: auto;
}

.eachLibrary {
  border: 1px solid silver;
  width: 45%;
  margin: 1vw;
  transition: 300ms;
  border-radius: 3px;
}
.eachLibrary:hover {
  box-shadow: 1px 1px 4px 6px rgba(192, 192, 192, 0.418);
}

.bookLink {
  text-decoration: none;
  color: rgb(0, 14, 75);
}

.bookImg img {
  width: 20vw;
  margin-top: 10px;
}
